<file name=index.html path=/Users/sarahcahalan/sam-care-package>
  ...
  <div id="modal" class="modal" hidden>
    <div class="modal-content">
      <div class="modal-top">
        <h2 id="modalTitle"></h2>
        <button id="closeModal" type="button" class="close-x">Close</button>
      </div>
      <p id="modalDescription"></p>
      ...
    </div>
  </div>
  ...
</file>

<file name=app.js path=/Users/sarahcahalan/sam-care-package>
  ...
  function closeModal() {
    modal.hidden = true;
    activeItem = null;
  }
  ...
  function openModal(item) {
    modal.hidden = false;
    ...
  }
  ...
</file>